<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="node_modules/next/dist/bin/next" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url="(^.*(\.js|\.css|\.svg|\.ttf|\.woff|\.woff2|\.jpg|\.jpeg|\.png|\.gif|\.ico|\.json)$)" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="NextJS">
          <match url="/*" />
          <action type="Rewrite" url="node_modules/next/dist/bin/next" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="web.config;*.js" />
  </system.webServer>
</configuration> 