@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.custom-bg-header {
  background: linear-gradient(
    180deg,
    rgba(248, 246, 240, 1) 31%,
    rgba(255, 255, 255, 1) 24%
  );
}
