<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="startup.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^startup.js\/debug[\/]?" />
        </rule>

        <!-- Handle static files directly - Add _next for Next.js static files -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="(^.*\/(_next|images|icons|fonts)\/.*$|^.*(\.js|\.css|\.svg|\.ttf|\.woff|\.woff2|\.jpg|\.jpeg|\.png|\.gif|\.ico|\.json)$)" ignoreCase="true" />
          <action type="None" />
        </rule>
        
        <!-- All other requests go to Node.js startup script -->
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="startup.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Don't expose server version -->
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    
    <!-- Increase request size limits for file uploads -->
    <requestLimits maxAllowedContentLength="50000000" />
    
    <!-- Configure iisnode -->
    <iisnode 
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      nodeProcessCommandLine="node"
      maxProcessCountPerApplication="1"
    />
  </system.webServer>
</configuration> 